= h2 t :announcement_edit

= render :partial => 'preview', :object => @announcement if @preview_mode

= render :partial => 'form', :locals => {:announcement => @announcement, :preview_mode => @preview_mode}
